P{
    color: blueviolet;
    font-style: italic;
    size: 30px; 
 }
 h1{
     font-size: 50px;
     color: brown;
 
 }
 ol{
     color: aqua;
     font-size: 30px;
     font-style: italic;
 }
 h3{
     color: blueviolet;
 }
 h2{
     color: aqua;
 }